<div fxLayout='row' fxLayoutAlign="start stretch" class="potato-container">
    <div fxFlex="10">
        <potato-component-list (create)="onComponentCreation($event)"></potato-component-list>
    </div>
    <div fxFlex="60">
        <md-card>
            <md-card-content>
                <div #componentsContainer>

                </div>
            </md-card-content>
        </md-card>
    </div>
    <div fxFlex="30">
        <md-card class="potato-component-properties">
            <md-card-content>
                <project-potato-inspector
                [actualComponent]="componentName"
                (changed)="propertyChange($event)">
            </project-potato-inspector>
            </md-card-content>
        </md-card>
    </div>
</div>
