@import '~@angular/material/theming';
@import '../../ng2-alfresco-documentlist/styles/colors';
@import '../_index';

@include mat-core();

$primary: mat-palette($alfresco-bpm-green);
$accent:  mat-palette($alfresco-accent-purple);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include alfresco-material-documentlist($theme);

