@import '~@angular/material/theming';
@import '../../ng2-alfresco-documentlist/styles/colors';
@import '../_index';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include alfresco-material-documentlist($theme);

